/*----------------Carrousel------------------*/
header{
    position: relative;
}
.conteneurNew{
    display: flex;
    justify-content: center;
}
.conteneurNew h2{
    position: absolute;
    z-index: 101;
    margin-top: 20%;
    font-size: 3.5em;
}
.conteneurNew button{
    position: absolute;
    z-index: 102;
    margin-top: 29%;
    border: 0;
    width: 220px;
    height: 65px;
    cursor: pointer;
    font-size: 1.5rem;
    transition: 0.2s;
}
.conteneurNew button:hover{
    transform: scale(1.06);
}
.tailleImg{
    object-fit: cover;
}
.carrousel{
    /*min-width: 100%;*/
    height: 95vh;
    display: flex;
    transition: 2s ease;
}
.conteneur{
    overflow: hidden;
}
/*-------------------------*/

    /*-------------Banniere présentation-----------*/
    .prez h2{
        margin-left: 5%;
        padding-top: 2%;
    }
    .banniereCitation{
        height: 28vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .banniereCitation p{
        width: 90%;
        font-style: italic;
        font-size: 20px;
    }

    /*-------------------------*/


    /*----------Banniere catégories---------*/
.decouvrir h2{
    margin-left: 5%;
    padding-top: 5%;
    padding-bottom: 2%;
}
.categories{
    height: 55vh;
    display: flex;
    flex-direction: row;
    gap: 2%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 5%;
}
.categories div{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    color: black;
    gap: 15px;
    overflow: hidden;

}
.divImg{
    width: 350px;
    height: 250px;
}
.imgCategorie{
    width: 350px;
    height: 250px;
    object-fit: cover;
}
.imgCategorie:hover{
    transform: scale(1.1);
    transition: 2s;
}
/*-------------------------*/

    /*-----------------Bannière picto----------------*/
    .bannierePicto{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        padding-top: 40px;
    }
    .bannierePicto img{
        width: 100px;
        height: 100px;
    }
    .bannierePicto div{
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }
    .bannierePicto label{
        color: white;
        font-size: 20px;
    }
/*-------------------------*/

/*----------------------Responsive------------------*/
@media screen  and (max-width:700px) {
    .conteneurNew h2{
        font-size: 20px;
        margin-top: 200px;
    }
    .conteneurNew button{
        margin-top: 250px;
    }
    .banniereCitation{
        height: 100%;
        font-size: 15px;
    }
    .categories{
        height: 100%;
    }
    .imgCategorie{
        width: 250px;
    }
    .bannierePicto img{
        width: 50px;
        height: 50px;
    }
    .bannierePicto{
        flex-direction: column;
    }
}